<footer id="footer" class="footer">
<p><a href="#">produced by motionBEAT Lab.</a></p>
<p>&copy; -2012 <a href="http://motionbeat.com"><strong>motionBEAT, inc</strong></a> All Rights Reserved</p>   
</footer>
