[% WRAPPER header.tt %]
<title>オススメのお友達</title>
[% END # WRAPPER %]
[% WRAPPER body.tt %]

<img src="[% target.large_picture | html %]"><br>
[% target.name | html %]<br>

[% FOREACH rec IN recommends %]
<img src="[% rec.user.small_picture %]">[% rec.recommend | html %]<br>
[% END %]

<br>
[% user_tag %]

<br>
[% fav_tag %]

[% END # BODY %]
