div {
  display: block;
}

.footer {
  clear: both;
  padding-top: 2em;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
}

#lb_landing {
  margin-top: 20px;
}


.row {
  margin-left: 20px;
}

.fb_signin {
    width: 150px;
    height: 24px;
    display: block;
    background-image: url("/img/facebook_signin.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.fb_signin:hover {
    background-position: 0px -24px;
}

.fb_signin:active {
    background-position: 0px -48px;
}

.float {
    float: left;
    margin-right: 1em;
}

.floatclear {
    clear: both;
}
